# ignore all files and folders

*/
*


# except from:
!.gitignore
!dataset
!models/alexnet/get_weights_file.sh
!*.py
!README.md
!view-tensorboard.sh
!examples
!config.ini.example

# also ignore all:
*.tfrecord
examples/checkpoints/**
*.log
**/__pycache__/*
*.npy
*~
*#
*.#