# ignore all files and folders

config.ini.*
!config.ini.example
# also ignore all:
.idea
*.tfrecord
examples/test_files
*.log
**/__pycache__/*
*.npy
*~
*#
*.#
config.ini
examples/run

# misc stuff
notes
tensorboard_graphs
start.sh
examples/test_run/checkpoints/
examples/test_run/data*

