# ignore all files and folders

config.ini.*
!config.ini.example
# validation logits
validation_logits_*
# also ignore all:
.idea
*.tfrecord
examples/test_files
*.log
**/__pycache__/*
*.npy
*~
*#
*.#
config.ini
examples/run
*.vocab
*.embeddings
*.pyc

# misc stuff
notes
tensorboard_graphs
start.sh
examples/test_run/checkpoints/
examples/test_run/data*
test/
# vim
*.swp
tags
experiments/
